ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
.filters {
  width: 100%;
  height: 70px;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  position: relative;
}
.filters button {
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  background-color: #ff5a5f;
  color: #ffffff;
  font-size: 18px;
  margin-right: 30px;
  position: absolute;
  right: 0px;
}
.filters button:hover {
  opacity: 0.9;
}
.amenities,
.locations {
  height: 100%;
  width: 30%;
  padding-left: 3%;
  position: relative;
}
.locations {
  border-right: 1px solid #dddddd;
}
.filters h3 {
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 5px;
}
.filters h4 {
  font-weight: 400;
  font-size: 14px;
  margin-top: 0px;
}
.popover {
  position: absolute;
  top: 70px;
  left: 0px;
  display: none;
  width: 80%;
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
  padding: 25px 10%;
}
.locations:hover .popover,
.amenities:hover .popover {
  display: block;
}
.popover h2 {
  margin: 5px 0;
}
.popover li {
  padding-bottom: 5px;
}
